<style>
html {
}

/* Accent color, complements, splits */
:root {
  --accent: #EB8F34;    /* orange */
  --accent_sr: #EB4A06; /* yellow */
  --accent_sl: #EBC16E; /* teal */
  --accent_cr: #1C6FEB; /* blue */
  --accent_cl: #4BEBD5; /* red */
  --pagewidth: 40em;
  
  --m0: #000;   /* Pure black*/
  --m1: #111;   /* bg color  */
  --m2: #222;
  --m3: #333;   /* lighter bg color */
  --m4: #444;
  --m5: #555;
  --m6: #666;
  --m7: #777;
  --m8: #888;
  --m9: #999;
  --ma: #aaa;  /* monochrome accent color */
  --mb: #bbb;  
  --mc: #ccc;  /* font color */
  --md: #ddd;
  --me: #eee; 
  --mf: #fff;  /* Pure white */

}

/*Import Lato*/
@import url('fonts/lato.css');

body {
  color: var(--mc);
  background: var(--m1);
  font-family: "Lato", sans-serif;
  margin: 1em auto;
  padding: 0em 1em;
  max-width: var(--pagewidth);
  line-height: 1.618131242069666;
}

h1, h2, h3, h4, h5, h6,
strong {
  color: var(--mc);
}

a {
  color: var(--accent);
  font-weight: bold;
}
a:hover {
  color: var(--accent_sr);
  text-decoration: none;
  font-weight: bold;
}

blockquote {
  border-left: 2px solid var(--accent);
  padding-left: .8em;
  margin-left: .2em;
}
/* color nested blockquotes */
/* One can use jquery to make this pattern extend past 6. */
blockquote blockquote { border-left: 2px solid var(--accent_sl); }
blockquote blockquote blockquote { border-left: 2px solid var(--accent_cl); }
blockquote blockquote blockquote blockquote { border-left: 2px solid var(--accent_cr); }
blockquote blockquote blockquote blockquote blockquote { border-left: 2px solid var(--accent_sr); }
blockquote blockquote blockquote blockquote blockquote blockquote { border-left: 2px solid var(--accent); }

code {
  background: var(--m3);
  color: var(--me);
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin: 0.2em;
}


/*
h1, h2 {
  border-bottom: 1px solid var(--fontweak);
}
*/

#blog-title{
  color: var(--ma);
  font-size: 1.0em;
  font-weight: bold;
  padding-top: 0.5em;
  margin-top:  0.5em;
  padding-bottom: 0.0em;
  margin-bottom: 0.0em;
  border-bottom: 0px solid var(--ma);
}

h1.title {
  font-size: 3.0em;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
  line-height: 1.0;
  border-bottom: 0px solid var(--ma);
}

p.subtitle {  
  font-size: 1.333em;
  font-style: italic;
  letter-spacing: 0.025em;
  padding-top: -0.667em;
  margin-top: -0.667em;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
}

hr {
  border-bottom: 1px solid var(--m3);
}

img {
  max-width: 100%;
  margin: auto;
}

figcaption {
  display: none;
}

pre {
  background: var(--m3);
  border-left: 2px solid var(--accent);
  color:var(--me);
  margin-left: .2em;
  padding: .8em;
}

#footer{
  font-size: 0.8em;
  font-style: italic;
}

#header{
  font-size: 0.8em;
}

p.author {
  color: var(--ma);
  font-size: 0.8em;
  padding: 0em;
  margin: 0em;
  display: none;
}

p.author:before {
  content: "Author: ";
  color: var(--m8);
  display: none;
}

p.date {
  color: var(--ma);
  font-size: 0.8em;
  padding: 0em;
  margin: 0em;
  /* display: none; */
}

p.date:before {
  content: "Date: ";
  color: var(--m8);
  /* display: none; */
}

/* https://2ality.com/2012/01/numbering-headingshtml.html */

/*
body {
    counter-reset: h2counter;
}
h2:before {
    counter-increment: h2counter;
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-reset: h3counter;
}
h3:before {
    counter-increment: h3counter;
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-reset: h4counter;
}
h4:before {
    counter-increment: h4counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
    counter-reset: h5counter;
}
h5:before {
    counter-increment: h5counter;
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";
}
*/

</style>

