<style>
html {
}

/* Accent color, complements, splits */
:root {
  --accent: #EB8F34;
  --accent_sr: #EB4A06;
  --accent_sl: #EBC16E;
  --accent_cr: #1C6FEB;
  --accent_cl: #4BEBD5;
  --pagewidth: 40em;
/* Light */ /*
  --bgstrong:   #fff;
  --bgcolor:    #eee;
  --bgweak:     #ddd;
  --fontweak:   #444;
  --fontcolor:  #222;
  --fontstrong: #000;
*/ /* Dark */
  --bgstrong:   #000;
  --bgcolor:    #222;
  --bgweak:     #444;
  --middle:     #888;
  --fontweak:   #aaa;
  --fontcolor:  #ccc;
  --fontstrong: #fff;
}

/*Import Lato*/
@import url('fonts/lato.css');


aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}


body {
  color: var(--fontcolor);
  background: var(--bgcolor);
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  max-width: var(--pagewidth);
  line-height: 1.25;
}


a {
  color: var(--accent);
  text-decoration: none;
}
a:hover {
  color: var(--accent_sr);
  text-decoration: none;
}

blockquote {
  border-left: 2px solid var(--accent);
  padding-left: .8em;
  margin-left: .2em;
}
/* color nested blockquotes */
/* One can use jquery to make this pattern extend past 6. */
blockquote blockquote { border-left: 2px solid var(--accent_sl); }
blockquote blockquote blockquote { border-left: 2px solid var(--accent_cl); }
blockquote blockquote blockquote blockquote { border-left: 2px solid var(--accent_cr); }
blockquote blockquote blockquote blockquote blockquote { border-left: 2px solid var(--accent_sr); }
blockquote blockquote blockquote blockquote blockquote blockquote { border-left: 2px solid var(--accent); }

code {
  background: var(--bgweak);
  color: var(--fontstrong);
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin: 0.2em;
}

h1, h2, h3, h4, h5, h6,
strong {
  color: var(--fontcolor);
}

h1, h2 {
  border-bottom: 1px solid var(--fontweak);
}

#blog-title{
  color: var(--fontweak);
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 1em;
  margin-top:  1em;
  padding-bottom: 0.0em;
  margin-bottom: 0.0em;
  border-bottom: 0px solid var(--fontweak);
}

h1.title {
  font-size: 3.0em;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
  line-height: 1.0;
  border-bottom: 0px solid var(--fontweak);
}

p.subtitle {  
  font-size: 1.333em;
  font-style: italic;
  letter-spacing: 0.025em;
  padding-top: -0.667em;
  margin-top: -0.667em;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
}

hr {
  border-bottom: 1px solid var(--bgweak);
}

img {
  max-width: 100%;
  margin: auto;
}

figcaption {
  display: none;
}

pre {
  background: var(--bgweak);
  border-left: 2px solid var(--accent);
  color:var(--fontstrong);
  margin-left: .2em;
  padding: .8em;
}

#footer{
  font-size: 0.8em;
  font-style: italic;
}

#header{
  font-size: 0.8em;
}

p.author {
  color: var(--fontweak);
  font-size: 0.8em;
  padding: 0em;
  margin: 0em;
  display: none;
}

p.author:before {
  content: "Author: ";
  color: var(--middle);
  display: none;
}

p.date {
  color: var(--fontweak);
  font-size: 0.8em;
  padding: 0em;
  margin: 0em;
  /* display: none; */
}

p.date:before {
  content: "Date: ";
  color: var(--middle);
  /* display: none; */
}

</style>

