/*purplish theme (nord RGB -> GRB)*/
/*Import fonts*/
@import url('fonts/lato.css');
@import url('fonts/montserrat.css');
@import url('fonts/Libertinus/libertinus.css');

:root {
  /* polar night */
  --love0: #342e40;
  --love1: #423b52;
  --love2: #4c435e;
  --love3: #564c6a;

  /* snow storm */
  --love4: #ded8e9;
  --love5: #e9e5f0;
  --love6: #efecf4;

  /* frost */
  --love7: #bc8fbb;
  --love8: #c088d0;
  --love9: #a181c1;
  --lovea: #815eac;

  /* aurora */
  --loveb: #61bf6a;
  --lovec: #87d070;
  --loved: #cbeb8b;
  --lovee: #bea38c;
  --lovef: #8eb4ad;
}

h1, h2, h3, h4, h5, h6, #blog-title, h1.title  {
  font-family: 'Libertinus Sans', sans-serif;
}

html, body, a {
  font-family: 'Libertinus Sans', sans-serif;
}

html {
  max-width: 72ch;
  padding: 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.2em;
}

body {
  margin: auto;
  color: var(--love1);
  line-height: 1.5;
  margin-bottom: 1em;
  background: var(--love6); /*linear-gradient(
    var(--love4), var(--love5), var(--love6), var(--love4)
  );*/
  background-color: var(--love4);
}


p.date {
  color: var(--love3);
  font-size: 0.6em;
  padding: 0em;
  margin: 0em;
  line-height: 1;
  font-style: italic;
}

#footer{
  font-size: 0.6em;
}

#blog-title, h1.title, h1,h2,h3,h4,h5,h6 {
  line-height: 1;
  font-weight: bold;
  text-shadow: 0px -2px 0px #0001, 0px 2px 0px #fff8;
  padding: 0.3em;
}

#blog-title{
  color: var(--lovea);
  font-size: 1.8em;
  font-weight: 400;
  padding: 0.2em;
  border-radius: 4px;
}
#blog-title:hover{ 
  background: linear-gradient(30deg, var(--lovea), var(--loveb), var(--lovec), var(--loved));
  color: var(--love6);
  box-shadow: 0px 4px 8px #0004;
}
#blog-title:active{
  background: linear-gradient(30deg, var(--lovea), var(--loveb), var(--lovec), var(--loved));
  color: var(--love6);
}

h1.title {
  color: var(--love0);
  font-size: 2.4rem;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 { color: var(--love1); }
h1 { font-size: 2.4rem; }
h2 { font-size: 2.1rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.35rem; }
h6 { font-size: 1.2rem; }

a {
  color: var(--lovea);
  text-decoration: none;
  border-radius: 2px;
  text-shadow: 0px -1px 0px #0002, 0px 1px 0px #fff8;
}
a:hover{
  background: var(--love1);
  color: var(--love6);
}
a:active{
  background: var(--love1);
  color: var(--love6);
}

body::selection, p::selection,
h1::selection, h1.title::selection,
h2::selection, h3::selection, h4::selection, h5::selection,
em::selection {
  /*background-color: linear-gradient(#5f3dc4, #364fc7);*/
  background-color: var(--lovea);
  color: var(--love5);
}
strong::selection {
  background-color: var(--love0);
  color: var(--love6);
}
code::selection, pre::selection {
  /*background-color: linear-gradient(#5f3dc4, #364fc7);*/
  background-color: var(--love1);
  color: var(--lovee);
}
pre {
  border-left: 2px solid var(--love8);
  margin-left: .25em;
  padding: 1ch;
  border-radius: .25em;
  background: var(--love5);
}
a::selection {
  /*background-color: linear-gradient(#5f3dc4, #364fc7);*/
  background-color: var(--love1);
  color: var(--love6);
}

img {
  border: 1px solid #ffffff80;
  max-width: 100%;
  margin: auto;
}
img:hover {
  border: 1px solid var(--love9);
  box-shadow: 3px 6px 0px 2px #343a4020;
}
img:active {
  border: 1px solid var(--lovea);
  box-shadow: 0px 0px 0px 2px ;
}


blockquote {
  border-left: 2px solid var(--love8);
  padding-left: .8em;
  margin-left: .2em;
}
/* color nested blockquotes */
/* One can use jquery to make this pattern extend past 6. */
blockquote blockquote { border-left: 2px solid var(--love9); }
blockquote blockquote blockquote { border-left: 2px solid var(--lovea); }
blockquote blockquote blockquote blockquote { border-left: 2px solid var(--love7); }
blockquote blockquote blockquote blockquote blockquote { border-left: 2px solid var(--loveb); }
blockquote blockquote blockquote blockquote blockquote blockquote { border-left: 2px solid var(--lovec); }

figcaption {
  display: none;
}

