/*nord mesa theme (nord RGB -> BGR)*/
/*Import fonts*/
@import url('fonts/lato.css');
@import url('fonts/montserrat.css');
@import url('fonts/Libertinus/libertinus.css');

:root {
  /* polar night */
  --mesa0: #40342e;
  --mesa1: #52423b;
  --mesa2: #5e4c43;
  --mesa3: #6a564c;

  /* snow storm */
  --mesa4: #e9ded8;
  --mesa5: #f0e9e5;
  --mesa6: #f4efec;

  /* frost */
  --mesa7: #bbbc8f;
  --mesa8: #d0c088;
  --mesa9: #c1a181;
  --mesaa: #ac815e;

  /* aurora */
  --mesab: #6a61bf;
  --mesac: #7087d0;
  --mesad: #8bcbeb;
  --mesae: #8cbea3;
  --mesaf: #ad8eb4;
}

h1, h2, h3, h4, h5, h6, #blog-title, h1.title  {
  font-family: 'Libertinus Sans', sans-serif;
}

html, body, a {
  font-family: 'Libertinus Sans', sans-serif;
}

html {
  max-width: 72ch;
  padding: 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.2em;
}

body {
  margin: auto;
  color: var(--mesa1);
  line-height: 1.5;
  margin-bottom: 1em;
  background: var(--mesa6); /*linear-gradient(
    var(--mesa4), var(--mesa5), var(--mesa6), var(--mesa4)
  );*/
  background-color: var(--mesa4);
}


p.date {
  color: var(--mesa3);
  font-size: 0.6em;
  padding: 0em;
  margin: 0em;
  line-height: 1;
  font-style: italic;
}

#footer{
  font-size: 0.6em;
}

#blog-title, h1.title, h1,h2,h3,h4,h5,h6 {
  line-height: 1;
  font-weight: bold;
  text-shadow: 0px -2px 0px #0001, 0px 2px 0px #fff8;
  padding: 0.3em;
}

#blog-title{
  color: var(--mesaa);
  font-size: 1.8em;
  font-weight: 400;
  padding: 0.2em;
  border-radius: 4px;
}
#blog-title:hover{ 
  background: linear-gradient(30deg, var(--mesaa), var(--mesab), var(--mesac), var(--mesad));
  color: var(--mesa6);
  box-shadow: 0px 4px 8px #0004;
}
#blog-title:active{
  background: linear-gradient(30deg, var(--mesaa), var(--mesab), var(--mesac), var(--mesad));
  color: var(--mesa6);
}

h1.title {
  color: var(--mesa0);
  font-size: 2.4rem;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 { color: var(--mesa1); }
h1 { font-size: 2.4rem; }
h2 { font-size: 2.1rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.35rem; }
h6 { font-size: 1.2rem; }

a {
  color: var(--mesaa);
  text-decoration: none;
  border-radius: 2px;
  text-shadow: 0px -1px 0px #0002, 0px 1px 0px #fff8;
}
a:hover{
  background: var(--mesa1);
  color: var(--mesa6);
}
a:active{
  background: var(--mesa1);
  color: var(--mesa6);
}

body::selection, p::selection,
h1::selection, h1.title::selection,
h2::selection, h3::selection, h4::selection, h5::selection,
em::selection {
  /*background-color: linear-gradient(#5f3dc4, #364fc7);*/
  background-color: var(--mesaa);
  color: var(--mesa5);
}
strong::selection {
  background-color: var(--mesa0);
  color: var(--mesa6);
}
code::selection, pre::selection {
  /*background-color: linear-gradient(#5f3dc4, #364fc7);*/
  background-color: var(--mesa1);
  color: var(--mesae);
}
pre {
  border-left: 2px solid var(--mesa8);
  margin-left: .25em;
  padding: 1ch;
  border-radius: .25em;
  background: var(--mesa5);
}
a::selection {
  /*background-color: linear-gradient(#5f3dc4, #364fc7);*/
  background-color: var(--mesa1);
  color: var(--mesa6);
}

img {
  border: 1px solid #ffffff80;
  max-width: 100%;
  margin: auto;
}
img:hover {
  border: 1px solid var(--mesa9);
  box-shadow: 3px 6px 0px 2px #343a4020;
}
img:active {
  border: 1px solid var(--mesaa);
  box-shadow: 0px 0px 0px 2px ;
}


blockquote {
  border-left: 2px solid var(--mesa8);
  padding-left: .8em;
  margin-left: .2em;
}
/* color nested blockquotes */
/* One can use jquery to make this pattern extend past 6. */
blockquote blockquote { border-left: 2px solid var(--mesa9); }
blockquote blockquote blockquote { border-left: 2px solid var(--mesaa); }
blockquote blockquote blockquote blockquote { border-left: 2px solid var(--mesa7); }
blockquote blockquote blockquote blockquote blockquote { border-left: 2px solid var(--mesab); }
blockquote blockquote blockquote blockquote blockquote blockquote { border-left: 2px solid var(--mesac); }

figcaption {
  display: none;
}

