/*nord theme*
/*Import fonts*/
@import url('fonts/lato.css');
@import url('fonts/montserrat.css');
@import url('fonts/Libertinus/libertinus.css');

:root {
  /* polar night */
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;

  /* snow storm */
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;

  /* frost */
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --norda: #5e81ac;

  /* aurora */
  --nordb: #bf616a;
  --nordc: #d08770;
  --nordd: #ebcb8b;
  --norde: #a3be8c;
  --nordf: #b48ead;
}

h1, h2, h3, h4, h5, h6, #blog-title, h1.title  {
  font-family: 'Libertinus Sans', sans-serif;
}

html, body, a {
  font-family: 'Libertinus Sans', sans-serif;
}

html {
  max-width: 72ch;
  padding: 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.2em;
}

body {
  margin: auto;
  color: var(--nord2);
  line-height: 1.5;
  margin-bottom: 1em;
  background: linear-gradient(
    var(--nord4), var(--nord5), var(--nord6), var(--nord4)
  );
  background-color: var(--nord4);
}


p.date {
  color: var(--nord3);
  font-size: 0.6em;
  padding: 0em;
  margin: 0em;
  line-height: 1;
  font-style: italic;
}

#footer{
  font-size: 0.6em;
}

#blog-title, h1.title, h1,h2,h3,h4,h5,h6 {
  line-height: 1;
  font-weight: bold;
  text-shadow: 0px -2px 0px #0001, 0px 2px 0px #fff8;
  padding: 0.3em;
}

#blog-title{
  color: var(--norda);
  font-size: 1.8em;
  font-weight: 400;
  padding: 0.2em;
  border-radius: 4px;
}
#blog-title:hover{ 
  background: linear-gradient(30deg, var(--norda), var(--nordb), var(--nordc), var(--nordd));
  color: var(--nord6);
  box-shadow: 0px 4px 8px #0004;
}
#blog-title:active{
  background: linear-gradient(30deg, var(--norda), var(--nordb), var(--nordc), var(--nordd));
  color: var(--nord6);
}

h1.title {
  color: var(--nord1);
  font-size: 2.4rem;
  font-weight: 400;
}
h1 {
  color: var(--nord2);
  font-size: 2.4rem;
}
h2 {
  color: var(--nord2);
  font-size: 2.1rem;
}
h3 {
  color: var(--nord2);
  font-size: 1.8rem;
}
h4 {
  color: var(--nord2);
  font-size: 1.5rem;
}
h5 {
  color: var(--nord2);
  font-size: 1.35rem;
}
h6 {
  color: var(--nord2);
  font-size: 1.2rem;
}

a {
  color: var(--norda);
  text-decoration: none;
  border-radius: 2px;
}
a:hover{
  background: var(--norda);
  color: var(--nord6);
}
a:active{
  background: var(--norda);
  color: var(--nord6);
}

body::selection, p::selection,
h1::selection, h1.title::selection,
h2::selection, h3::selection, h4::selection, h5::selection,
em::selection {
  /*background-color: linear-gradient(#5f3dc4, #364fc7);*/
  background-color: var(--norda);
  color: var(--nord5);
}
strong::selection {
  background-color: var(--nord0);
  color: var(--nord6);
}
code::selection, pre::selection {
  /*background-color: linear-gradient(#5f3dc4, #364fc7);*/
  background-color: var(--nord1);
  color: var(--norde);
}
pre {
  border-left: 2px solid var(--nord8);
  margin-left: .25em;
  padding: 1ch;
  border-radius: .25em;
  background: var(--nord5);
}
a::selection {
  /*background-color: linear-gradient(#5f3dc4, #364fc7);*/
  background-color: var(--nord1);
  color: var(--nord6);
}

img {
  border: 1px solid #ffffff80;
  max-width: 100%;
  margin: auto;
}
img:hover {
  border: 1px solid var(--nord9);
  box-shadow: 3px 6px 0px 2px #343a4020;
}
img:active {
  border: 1px solid var(--norda);
  box-shadow: 0px 0px 0px 2px ;
}


blockquote {
  border-left: 2px solid var(--nord8);
  padding-left: .8em;
  margin-left: .2em;
}
/* color nested blockquotes */
/* One can use jquery to make this pattern extend past 6. */
blockquote blockquote { border-left: 2px solid var(--nord9); }
blockquote blockquote blockquote { border-left: 2px solid var(--norda); }
blockquote blockquote blockquote blockquote { border-left: 2px solid var(--nord7); }
blockquote blockquote blockquote blockquote blockquote { border-left: 2px solid var(--nordb); }
blockquote blockquote blockquote blockquote blockquote blockquote { border-left: 2px solid var(--nordc); }

figcaption {
  display: none;
}

