/*pinkish theme (nord RGB -> BRG)*/
/*Import fonts*/
@import url('fonts/lato.css');
@import url('fonts/montserrat.css');
@import url('fonts/Libertinus/libertinus.css');

:root {
  /* polar night */
  --pink0: #402e34;
  --pink1: #523b42;
  --pink2: #5e434c;
  --pink3: #6a4c56;

  /* snow storm */
  --pink4: #e9d8de;
  --pink5: #f0e5e9;
  --pink6: #f4ecef;

  /* frost */
  --pink7: #bb8fbc;
  --pink8: #d088c0;
  --pink9: #c181a1;
  --pinka: #ac5e81;

  /* aurora */
  --pinkb: #6abf61;
  --pinkc: #70d087;
  --pinkd: #8bebcb;
  --pinke: #8ca3be;
  --pinkf: #adb48e;
}

h1, h2, h3, h4, h5, h6, #blog-title, h1.title  {
  font-family: 'Libertinus Sans', sans-serif;
}

html, body, a {
  font-family: 'Libertinus Sans', sans-serif;
}

html {
  max-width: 72ch;
  padding: 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.2em;
}

body {
  margin: auto;
  color: var(--pink1);
  line-height: 1.5;
  margin-bottom: 1em;
  background: var(--pink6); /*linear-gradient(
    var(--pink4), var(--pink5), var(--pink6), var(--pink4)
  );*/
  background-color: var(--pink4);
}


p.date {
  color: var(--pink3);
  font-size: 0.6em;
  padding: 0em;
  margin: 0em;
  line-height: 1;
  font-style: italic;
}

#footer{
  font-size: 0.6em;
}

#blog-title, h1.title, h1,h2,h3,h4,h5,h6 {
  line-height: 1;
  font-weight: bold;
  text-shadow: 0px -2px 0px #0001, 0px 2px 0px #fff8;
  padding: 0.3em;
}

#blog-title{
  color: var(--pinka);
  font-size: 1.8em;
  font-weight: 400;
  padding: 0.2em;
  border-radius: 4px;
}
#blog-title:hover{ 
  background: linear-gradient(30deg, var(--pinka), var(--pinkb), var(--pinkc), var(--pinkd));
  color: var(--pink6);
  box-shadow: 0px 4px 8px #0004;
}
#blog-title:active{
  background: linear-gradient(30deg, var(--pinka), var(--pinkb), var(--pinkc), var(--pinkd));
  color: var(--pink6);
}

h1.title {
  color: var(--pink0);
  font-size: 2.4rem;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 { color: var(--pink1); }
h1 { font-size: 2.4rem; }
h2 { font-size: 2.1rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.35rem; }
h6 { font-size: 1.2rem; }

a {
  color: var(--pinka);
  text-decoration: none;
  border-radius: 2px;
  text-shadow: 0px -1px 0px #0002, 0px 1px 0px #fff8;
}
a:hover{
  background: var(--pink1);
  color: var(--pink6);
}
a:active{
  background: var(--pink1);
  color: var(--pink6);
}

body::selection, p::selection,
h1::selection, h1.title::selection,
h2::selection, h3::selection, h4::selection, h5::selection,
em::selection {
  /*background-color: linear-gradient(#5f3dc4, #364fc7);*/
  background-color: var(--pinka);
  color: var(--pink5);
}
strong::selection {
  background-color: var(--pink0);
  color: var(--pink6);
}
code::selection, pre::selection {
  /*background-color: linear-gradient(#5f3dc4, #364fc7);*/
  background-color: var(--pink1);
  color: var(--pinke);
}
pre {
  border-left: 2px solid var(--pink8);
  margin-left: .25em;
  padding: 1ch;
  border-radius: .25em;
  background: var(--pink5);
}
a::selection {
  /*background-color: linear-gradient(#5f3dc4, #364fc7);*/
  background-color: var(--pink1);
  color: var(--pink6);
}

img {
  border: 1px solid #ffffff80;
  max-width: 100%;
  margin: auto;
}
img:hover {
  border: 1px solid var(--pink9);
  box-shadow: 3px 6px 0px 2px #343a4020;
}
img:active {
  border: 1px solid var(--pinka);
  box-shadow: 0px 0px 0px 2px ;
}


blockquote {
  border-left: 2px solid var(--pink8);
  padding-left: .8em;
  margin-left: .2em;
}
/* color nested blockquotes */
/* One can use jquery to make this pattern extend past 6. */
blockquote blockquote { border-left: 2px solid var(--pink9); }
blockquote blockquote blockquote { border-left: 2px solid var(--pinka); }
blockquote blockquote blockquote blockquote { border-left: 2px solid var(--pink7); }
blockquote blockquote blockquote blockquote blockquote { border-left: 2px solid var(--pinkb); }
blockquote blockquote blockquote blockquote blockquote blockquote { border-left: 2px solid var(--pinkc); }

figcaption {
  display: none;
}

