<style>
html {
}

/* Accent color, complements, splits */
:root {
  --accent: #6967E6;
  --accent_sr: #B35CE6;
  --accent_sl: #5CACE6;
  --accent_cr: #E6AC57;
  --accent_cl: #CCE65A;
  --pagewidth: 40em;
}

body {
  margin: 0 auto;
  max-width: var(--pagewidth);
  font-family: "Monaco", monospace;
  line-height: 1.3;
  padding: 4em 1em;
  color: #202020;
  background: #fffefe;
}

img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--accent_sr);
}


blockquote {
  border-left: 2px solid var(--accent);
  padding-left: .8em;
  margin-left: .2em;
}

/* color nested blockquotes */
/* One can use jquery to make this pattern extend past 6. */
blockquote blockquote { border-left: 2px solid var(--accent_sl); }
blockquote blockquote blockquote { border-left: 2px solid var(--accent_cl); }
blockquote blockquote blockquote blockquote { border-left: 2px solid var(--accent_cr); }
blockquote blockquote blockquote blockquote blockquote { border-left: 2px solid var(--accent_sr); }
blockquote blockquote blockquote blockquote blockquote blockquote { border-left: 2px solid var(--accent); }

code {
  background: #ddd;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin: 0.2em;
}

pre {
  background: #ddd;
  /*
  border-bottom: 2px solid #fff;
  border-top: 2px solid #888;
  border-right: 2px solid #fff;
  */
  border: 2px inset #efefef;
  border-left: 2px solid #888;
  color: #333;
  padding: 1em;
  border-left: 2px solid var(--accent);
}

h1.title {
  color: #000;
  font-size: 2.0em;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #111;
  font-weight: bold;
}

#blog-title{
  color: #666;
  font-size: 1.0em;
  font-weight: bold;
}

h1 {
  color: #111;
  font-size: 1.6em;
  border-bottom: 4px solid #aaa;
  padding-top: 0.4em;
  margin-top: 0.4em;
}

h2 {
  font-size: 1.2em;
  margin-top: .4em;
  padding-top: .4em;
  border-bottom: 2px solid #aaa;
}

h3 {
  font-size: 1.0em;
  margin-top: .4em;
  padding-top: .4em;
  border-bottom: 1px solid #aaa;
}


hr {
  border-bottom: 1px solid #aaa;
  size: 2px;
}

p.author {
  color: #666;
  font-size: 0.8em;
  padding: 0em;
  margin: 0em;
}

p.author:before {
  content: "Author: ";
  color: #666;
}

#footer{
  font-size: 0.8em;
  font-style: italic;
}


#header{
  font-size: 0.8em;
}

p.date {
  color: #666;
  font-size: 0.8em;
  padding: 0em;
  margin: 0em;
}

p.date:before {
  content: "Date: ";
  color: #444;
}

</style>

